<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block style %}{% endblock style %}
    <title>FlashCards App</title>
</head>
<body>
    {% if user %}
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('decks') }}">Decks</a>
        <br>
        <p>Hello {{ user.username }}</p>
    {% else %}
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('register') }}">Register</a>
        <br>
    {% endif %}
    {% block body %}
    {% endblock %}
</body>
</html>