{% extends "index.html" %}
{% block body %}
    {% if decks|length == 0 %}
        <h2>You don't have any decks.</h2>
        <a href="{{ url_for('create_deck') }}">Create new deck</a>
    {% else %}
        <a href="{{ url_for('create_deck') }}">Create new deck</a>
        {% for deck in decks %}
            <p>{{ deck.deck_id }}  {{ deck.name }}</p><a href="{{ url_for('display_cards', deck_id=deck.deck_id) }}">View cards</a>
            <a href="{{ url_for('delete_deck', deck_id=deck.deck_id) }}">Delete deck</a> 
        {% endfor %}
    {% endif %}
{% endblock body %}