{% extends "index.html" %}
{% block body %}
    <h2>Add a new card</h2>
    <a id="card" href="{{ url_for('create_card', deck_id=deck_id) }}">Add  new card</a>
    <p>You have {{ cards|length }} cards</p>
    {% for card in cards %}
        <p>{{ card.word }}</p>
        <p><a href="{{ url_for('card_detail', deck_id=deck_id, card_id=card.card_id) }}">See detail</a></p>
        <p><a href="{{ url_for('delete_card', deck_id=deck_id, card_id=card.card_id) }}" onClick="window.location.reload()">Delete</a></p>
    {% endfor %}
{% endblock body %}
